.todo {
  /* border: 1px solid black; */
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.list-container {
  width: 80%;
  padding: 20px;
}

.productCardImg {
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}

.productCard {
  width: 19rem;
}
.header-icons {
  width: 50px;
}

.left-side-icons {
  margin-right: 20px;
}
